<?xml version="1.0"?>
<config>
    <modules>
        <QVC_ConfigurableAutoPricing>
            <version>0.1.0</version>
        </QVC_ConfigurableAutoPricing>
    </modules>
    <global>
        <helpers>
            <qvc_configurableautopricing>
                <class>QVC_ConfigurableAutoPricing_Helper</class>
            </qvc_configurableautopricing>
        </helpers>
        <models>
            <qvc_configurableautopricing>
                <class>QVC_ConfigurableAutoPricing_Model</class>
            </qvc_configurableautopricing>
        </models>
        <blocks>
            <qvc_configurableautopricing>
                <class>QVC_ConfigurableAutoPricing_Block</class>
            </qvc_configurableautopricing>
        </blocks>
        <events>
            <catalog_product_save_before>
                <observers>
                    <qvc_configurableautopricing>
                        <type>singleton</type>
                        <class>qvc_configurableautopricing/observer</class>
                        <method>updatePriceDeltasBeforeSave</method>
                    </qvc_configurableautopricing>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_commit_after>
                <observers>
                    <qvc_configurableautopricing>
                        <type>singleton</type>
                        <class>qvc_configurableautopricing/observer</class>
                        <method>updatePriceDeltasAfterSave</method>
                    </qvc_configurableautopricing>
                </observers>
            </catalog_product_save_commit_after>
        </events>
        <resources>
            <qvc_configurableautopricing_setup>
                <setup>
                    <module>QVC_ConfigurableAutoPricing</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </qvc_configurableautopricing_setup>
        </resources>
    </global>
    <default>
        <qvc_configurableautopricing>
            <general>
                <enable>1</enable>
                <parent_price_from_children>1</parent_price_from_children>
            </general>
        </qvc_configurableautopricing>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <qvc_configurableautopricing>
                                            <title>Configurable Auto Pricing</title>
                                        </qvc_configurableautopricing>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>