<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <qvc_configurableautopricing translate="label" module="qvc_configurableautopricing">
            <label>Configurable Auto Pricing</label>
            <tab>catalog</tab>
            <sort_order>1000</sort_order>
            <frontend_type>text</frontend_type>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="qvc_configurableautopricing">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enable>
                        <parent_price_from_children>
                            <label>Parent price from children</label>
                            <frontend_type>select</frontend_type>
                            <comment>Copy the attributes price, special_price, special_from_date, special_to_date from the child having the minimum price to the parent, along with the additional attributes you can specify here below.</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </parent_price_from_children>
                        <fields_to_copy translate="label">
                            <label>Attributes to copy to parent product</label>
                            <comment>These attributes will be copied from the child with the lowest price to the parent product, along with price, special_price, special_from_date, special_to_date. This has no effect if flag "parent price from children" is false</comment>
                            <frontend_model>qvc_configurableautopricing/system_config_form_field_array</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                        </fields_to_copy>
                    </fields>
                </general>
            </groups>
        </qvc_configurableautopricing>
    </sections>
</config>